@import "src/assets/styles/variables"
\:host
  display: block
  margin: 0 auto

form
  display: flex
  justify-content: center
  align-items: center

input[type="text"]
  border-radius: $border-radius
  outline: none
  height: $input-height
  font-size: $input-form-size
  text-align: center
  width: 100%
  margin: 5px

  @media (min-width: $desktop)
    width: 275px

  &::placeholder
    color: $grey-light

button
  border: none
  border-radius: $border-radius
  height: $input-height + 2px
  font-size: $input-form-size
  outline: none
  width: 100%
  cursor: pointer
  margin: 0 5px
  background: $blue
  color: white
  font-weight: bold
  @media (min-width: $desktop)
    width: 115px

.user-repos-search-bar
  &__formError
    text-align: center
    color: #f64f64
    font-size: 0.75rem
    font-weight: bold
  &__input
    border: none
  &__inputError
    border: 1px solid #f64f64
