@import "src/assets/styles/variables"
\:host
  display: flex
  justify-content: center

input[type="text"]
  border-radius: $border-radius
  outline: none
  border: none
  height: $input-height
  font-size: $input-form-size
  text-align: center

  &::placeholder
    color: $grey-light

button
  border: none
  border-radius: $border-radius
  height: $input-height
  font-size: $input-form-size
  outline: none
  cursor: pointer
